tests/osm/osm_test.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="osm">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="node" type="nodeType" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="way" type="wayType" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="relation" type="relationType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="version" type="xs:string" use="required"/>
      <xs:attribute name="generator" type="xs:string" use="optional"/>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="tagType">
    <xs:attribute name="k" type="xs:string" use="required"/>
    <xs:attribute name="v" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="nodeType">
    <xs:sequence>
      <xs:element name="tag" type="tagType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:long" use="required"/>
    <xs:attribute name="lat" type="xs:decimal" use="required"/>
    <xs:attribute name="lon" type="xs:decimal" use="required"/>
  </xs:complexType>

  <xs:complexType name="ndType">
    <xs:attribute name="ref" type="xs:long" use="required"/>
  </xs:complexType>

  <xs:complexType name="wayType">
    <xs:sequence>
      <xs:element name="nd" type="ndType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="tag" type="tagType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:long" use="required"/>
  </xs:complexType>

  <xs:complexType name="memberType">
    <xs:attribute name="type" type="xs:string" use="required"/>
    <xs:attribute name="ref" type="xs:long" use="required"/>
    <xs:attribute name="role" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="relationType">
    <xs:sequence>
      <xs:element name="member" type="memberType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="tag" type="tagType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:long" use="required"/>
  </xs:complexType>
</xs:schema>
